Flask
Flask-SQLAlchemy
Flask-APScheduler
requests
python-dotenv
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-exporter-otlp
setuptools
psycopg2-binary
Flask-Cors
cryptography
redis
graphene
