<!DOCTYPE html>
<html>
  <head>
    <title>GraphQL Test - {{ conn.name }}</title>
    <style>
      body {
        height: 100vh;
        margin: 0;
        overflow: hidden;
      }
      #graphiql {
        height: 100vh;
      }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/graphiql/3.0.4/graphiql.min.css" rel="stylesheet" />
  </head>
  <body>
    <div id="graphiql">Loading GraphiQL...</div>
    
    <script
      src="https://unpkg.com/react@18/umd/react.production.min.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
      crossorigin
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/graphiql/3.0.4/graphiql.min.js"
      crossorigin
    ></script>
    
    <script>
      function graphQLFetcher(graphQLParams) {
        const headers = {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        };
        const token = '{{ conn.auth_token or "" }}';
        if (token) {
          headers['Authorization'] = 'Bearer ' + token;
        }

        return fetch('{{ conn.url }}', {
          method: 'POST',
          headers: headers,
          body: JSON.stringify(graphQLParams),
        }).then(function(response) {
          return response.json();
        });
      }

      const root = ReactDOM.createRoot(document.getElementById('graphiql'));
      root.render(
        React.createElement(GraphiQL, {
          fetcher: graphQLFetcher,
          defaultEditorToolsVisibility: true,
        })
      );
    </script>
  </body>
</html>
