<div id="pushConfigWrapper">
    <div class="flex justify-between items-end border-b border-black/10 pb-2 mb-2">
        <div class="w-1/2">
            <h4 class="text-sm font-bold text-gray-700 dark:text-gray-300">Push Destinations</h4>
            <p class="text-xs text-gray-500">Endpoints to receive the data.</p>
        </div>
        <div>
            <button id="addDestinationBtn" class="theme-btn px-3 py-1.5 text-sm rounded flex items-center gap-1">+ Add Destination</button>
        </div>
    </div>
    
    <div id="destinationsContainer" class="space-y-4">
        <!-- Destinations populated by JS -->
    </div>
</div>
